</div>

<div class="footer">
    <p>Copyright © Mission Money'22</p>
    <div>
        <ul>
            <li><a href="">Email</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Patreon</a></li>
        </ul>
    </div>
</div>

<script src="index.js" type="text/javascript"></script>
</body>

</html>